/* --- advantages */

.advantages {
  padding-top: 60px;
  padding-bottom: 30px;
  @include respond-to (tablet) {
    padding-bottom: 60px;
  }
  @include respond-to (desktop) {
    padding-top: 94px;
  }
}

.advantages__title {
  font-size: 0px;
}

@include respond-to (tablet) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.advantages__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
    @include respond-to(tablet) {
      margin-bottom: 15px;
    }
  }
  @include respond-to(tablet) {
    margin: 15px;
    width: 0%;
    flex-basis: calc((100% - 15px * 4) / 2);
  }
  @include respond-to (desktop) {
    flex-basis: calc((100% - 15px * 8) / 4);
  }
}

.advantages__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: $btnBg;
  border-radius: 4px;
}

.advantages__subtitle {
  @include fonts($primaryColor, null, null, 700, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @include respond-to(tablet) {
    text-align: start;
  }
}

.advantages__text {
  color: $secondaryColor;
  line-height: 1.7;
}
