/* --- advantages */

.advantages {
  padding-top: 60px;
  padding-bottom: 30px;
}

.advantages__title {
  font-size: 0px;
}

// .advantages__list {
//   // display: flex;
// }

.advantages__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: $btnBg;
  border-radius: 4px;
}

.advantages__subtitle {
  @include fonts($primaryColor, null, null, 700, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.advantages__text {
  color: $secondaryColor;
  line-height: 1.7;
}
