/* --- clients */

.clients {
  padding: 94px 0px;
}

.clients__title {
  @extend %title__section;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.clients__item {
  // width: 170px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    border: 1px solid $activeColor;
  }
  margin: 15px;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  @media screen and (max-width: 479px) {
    width: 100%;    
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: #afb1b8;

  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  .clients__item:hover &,
  .clients__link:focus & {
    fill: $activeColor;

    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
