/* --- first-screen */

.first-screen {
  background-color: $sectionBg;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/first-screen/bg480.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  margin: 0 auto;
  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('../img/first-screen/bg480-2x.jpg');
  }
  @media screen and (min-width: 481px) {
    background-image: url('../img/first-screen/bg768.jpg');
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../img/first-screen/bg768-2x.jpg');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: url('../img/first-screen/bg1200.jpg');
    max-width: 1600px;
    width: 100%;
    height: 600px;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../img/first-screen/bg1200-2x.jpg');
    }
  }
}

.first-screen__wrapper {
  width: 360px;
  @include respond-to (desktop) {
    width: 696px;
  }
}
.first-screen__title {
  @include fonts($colorText, null, 26px, 900, 1.6, 0.06em);
  text-transform: uppercase;
  margin-bottom: 30px;
  @include respond-to (desktop) {
    @include fonts($colorText, null, 44px, 900, 1.36, 0.06em);
  }
}
.first-screen__btn {
  @include btn();
  padding: 10px 32px;
}
