/* --- Footer */

.footer {
  background-color: $sectionBg;
  padding: 60px 0px;
}

.footer__address {
  // margin-right: 70px;
  margin-bottom: 60px;
}

.footer__social-title,
.footer__form-title {
  @include fonts($colorText, null, 14px, 700, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@include respond-to (tablet) {
  .footer__box  {
    display: flex;
    justify-content: space-around;
  }
}

