/* --- Footer */

.footer {
  background-color: $sectionBg;
  padding: 60px 0px;
}

.footer__address {
  margin-bottom: 60px;
  @include respond-to (tablet) {
    margin-bottom: 0;
  }
  @include respond-to (desktop) {
    margin-right: 70px;
  }
}

.footer__social-title,
.footer__form-title {
  @include fonts($colorText, null, 14px, 700, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  @include respond-to (desktop) {
    text-align: left;
  }
}
.footer__box {
  @include respond-to (tablet) {
      display: flex;
      justify-content: space-around;
      margin-bottom: 60px;
    }
  @include respond-to (desktop) {
    margin-bottom: 0px;
    align-items: baseline;
  }
}
.footer__social {
  margin-bottom: 60px;
}



