
  $primaryColor: #212121;
  $secondaryColor: #757575;
  $activeColor: #2196f3;
  $sectionBg: #2f303a;
  $btnBg: #f5f4fa;
  $colorText: #ffffff;

  $breakpoints: (
  'mobile': screen and ( min-width:  480px ),
  'tablet': screen and ( min-width:  768px ),
  'desktop': screen and ( min-width: 1280px ),
  'desktop-xl': screen and ( min-width: 1919px ),
  'retina-apple-pasibo-bolshoe': ()
) !default;
