// filter portfollio

.filter-list {
  // display: flex;
  // justify-content: center;

  margin: -8px -8px 32px;
  @include respond-to (tablet) {
    margin: -8px -8px 22px;
    text-align: center;
  }
}

.filter-list__item {
  // &:not(:last-child) {
  //   margin-right: 8px;
  // }
  margin: 8px;
  display: inline-block;
}

.filter-list__btn {
  @include btn($primaryColor, $btnBg, $colorText, $activeColor);
  box-shadow: none;
  padding: 6px 22px;
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &--active {
    color: $colorText;
    background-color: $activeColor;
  }
}
