// navigation

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  width: 24px;
  height: 16px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.burger__btn {
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
  }
  &::before {
    position: absolute;
    right: 0;
    top: -1px;
  }
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


.nav__list {
  display: none;
  & li:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__link {
  @extend %link;
  @include fonts($primaryColor, null, null, 500, 1.14, 0.02em);
  position: relative;
  padding: 32px 0px;
  display: block;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $activeColor;
  }
  &--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  &--active {
    color: $activeColor;
  }
}

