// container

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  // .footer & {
  //   // display: flex;
  //   // align-items: baseline;
  // }
  @media screen and (min-width: 480px){
    width: 480px;
  }
}